{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <h2>Проект "Око"</h2>
    <p style="font-size: 20px;">
    Наш проект — это уникальный интерактивный опыт, который переносит игроков в эпицентр исторических событий Холодной войны, раскрывая малоизвестные страницы создания советской системы предупреждения о ракетном нападении "Око". Это не просто игра, а мощный инструмент публичной истории, который делает сложные исторические процессы доступными и увлекательными для широкой аудитории.
    Что делает проект по-настоящему интересным? Во-первых, это глубокая историческая достоверность, сочетающаяся с интерактивностью. Игроки непросто наблюдают за событиями, а принимают ключевые решения, сталкиваясь с
    моральными дилеммами, которые стояли перед учеными и военными. Во-вторых, проект объединяет любителей симуляторов и тех, кто интересуется историей, предлагая
    им интересный геймплей и образовательную ценность.
    Игра позволяет почувствовать себя частью глобальных событий, где каждый выбор имеет вес. Это шанс не только развлечься, но и задуматься о том, как действия отдельных людей влияют на ход истории. Попробуйте — и вы увидите историю своими глазами!
    </p>
    <img
      src="{{ url_for('static', filename='images/index_1.png') }}"
      alt="Типо текст"
      class="img-fluid mb-3"
    >
{% endblock %}
