{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
  <h2>Вход</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.nickname.label }}
      {{ form.nickname(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.password.label }}
      {{ form.password(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>

  <div class="mt-3">
    <span>Ещё нет аккаунта?</span>
    <a href="{{ url_for('register') }}" class="btn btn-secondary btn-sm">Зарегистрироваться</a>
  </div>
{% endblock %}
