{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <h2>Регистрация</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.nickname.label }} {{ form.nickname(class="form-control") }}</div>
        <div class="mb-3">{{ form.password.label }} {{ form.password(class="form-control") }}</div>
        <div class="mb-3">{{ form.password2.label }} {{ form.password2(class="form-control") }}</div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
